body { 
    margin: 0;
    padding: 0;

}

header {
    width: 100vw;
    height: 125px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header>:nth-child(1) {
    width: 100%;
    height: 75px;
    display: flex;
    flex-direction: row;
    margin: 0 auto 0 auto;
}

#SITEMENU {
    height: 100%;
    width: 100px;
    font-weight: bolder;
    line-height: 75px;
    position: relative;
    left: 0;
    text-align: center;
    cursor: pointer;
}

#SITELOGO {
    background-color: black;
    color: whitesmoke;
    height: 100%;
    width: auto;
    margin: 0 auto 0 0;
    line-height: 75px;
}

nav {
    width: 80%;
    height: 45px;
    margin: auto auto 5px auto;
    border-bottom: 2px solid #555555;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    z-index: inherit;
    background-color: white;
}

.site-navlinks {
    text-decoration: none;
    color: #222222;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
}

footer {
    width: 100vw;
    height: 350px;
    background-color: #ffffff;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer-navlinks {
    width: 150px;
    height: 200px;
    display: flex;
    flex-direction: column;
    margin: auto 5px auto 5px;
}

.footer-navlinks> li {
    list-style-type: none;
}

.footer-navlinks> li> a {
    text-decoration: none;
    color: #222222;
    font-size: 18px;
}