body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

#SHOP {
    width: 90%;
    height: 1000px;
    margin: 5px auto;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 45px 1fr;
    grid-template-areas: 
    "filtersbar views"
    "filtersbar catalog";
    grid-gap: 5px;
}

#FILTERSBAR {
    grid-area: filtersbar;
    display: flex;
    flex-direction: column;
    background-color: lightblue;
}

#VIEWBAR {
    grid-area: views;
    display: flex;
    flex-direction: row;
    background-color: lightgrey;
}

#CATALOG {
    grid-area: catalog;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(450px, 450px);
    grid-gap: 10px;
}

.products {
    /*background-color: lightgray;*/
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr repeat(3, auto) 60px;
    grid-template-areas: 
    "image image image"
    "brand . category"
    "model model model"
    "price . ."
    ". button .";
}

.images {
    grid-area: image;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*when a client hovers over the images element, the quick details will display itself */
.images:hover> .details {
    visibility: visible;
    cursor: pointer;
}

.details {
    visibility: hidden;
    margin: auto auto 50px auto;
    border: 5px solid gray;
    border-radius: 5px;
    background-color: white;
    color: #555555;
    font-size: 18px;
    cursor: pointer;
    height: 45px;
    width: 60%;
}

.brands {
    grid-area: brand;
    font-weight: bold;
    font-size: 16px;
    background-color: gray;
    color: white;
    text-indent: 3px;
}

.categories {
    grid-area: category;
    font-weight: bold;
    color: darkblue;
}

.prices {
    grid-area: price;
    font-weight: bold;
    color: blue;
}

.models {
    grid-area: model;
    font-size: 21px;
}

.addtocart {
    grid-area: button;
    border: 0;
    border-radius: 4px;
    width: 100%;
    height: 30px;
    margin: auto;
    background-color: blue;
    color: white;
    cursor: pointer;
}

